<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Layout.MainLayout).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="typeof(Layout.MainLayout)">
                        <h3>Not Authorized</h3>
                        <p>You are not authorized to access this page. Please <a href="/login/index">log in</a>.</p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p>Sorry, the page you're looking for could not be found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>