@using System.Security.Claims
@inject IJSRuntime JSRuntime
@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <AuthorizeView>

        <MudAppBar Bottom=true Elevation="4" Style="background-color: #4CAF50; color: white;">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" />
        </MudAppBar>

    </AuthorizeView>
    <AuthorizeView>
        <Authorized>

            <MudMainContent>
                <div style="margin: 20px">
                    @Body
                </div>
            </MudMainContent>
        </Authorized>
        <NotAuthorized>
            <QuePOS.Shared.Pages.Login.Login />
        </NotAuthorized>
    </AuthorizeView>
</MudLayout>


@code {
    @inject AuthenticationStateProvider AuthStateProvider;
    @inject ISnackbar Snackbar;
    @inject IUserService IUserService;
    @inject NavigationManager NavigationManager;
    private bool ShowNotifications = true; // Track dropdown visibility
    private bool HasUnreadNotifications = true; // Show badge if true

    bool _drawerOpen = true;
    int BadgeContent = 1;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    private bool session_loading = true;
    // private List<NotificationModel> Notifications = [];
    protected override async Task OnInitializedAsync()
    {
        var claims = await AuthStateProvider.GetAuthenticationStateAsync();
        AuthStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;


        await base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            var sl = await IUserService.SessionLogin();

            if (sl != null)
            {
                if (AuthStateProvider is CustomAuthStateProvider customProvider)
                {
                    customProvider.NotifyNotificationState(sl);
                }
                NavigationManager.NavigateTo("/");
            }
            else
            {
                session_loading = false;
            }
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private void Logout()
    {
        if (AuthStateProvider is CustomAuthStateProvider externalAuthProvider)
        {
            externalAuthProvider.NotifyNotificationState(null);
        }
        // NavigationManager.NavigateTo("login/index");
        session_loading = false;
        StateHasChanged();
        // await hubConnection.StopAsync();
    }
    string UserName;
    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        var authState = await task;
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            UserName = user.Identity.Name;
            string id = user.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
            //SignalRListener(id);
        }
        // StateHasChanged(); //
    }
    public void Dispose()
    {
        AuthStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
    private void ToggleNotifications()
    {

    }
    private void MarkAllAsRead()
    {

    }

}
@*     void LogoutHandle()
    {
        NavigationManager.NavigateTo("login/index");
    } *@

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
