@page "/"

@inject IFormFactor FormFactor

<div class="mt-5 container">
    <div class="row">

        <a href="/transection/index" class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1">
                    @* <i class="fa-solid fa-briefcase"></i> *@
                    <MudIcon Icon="@Icons.Material.Outlined.ProductionQuantityLimits" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Transection</span>
                    <span class="info-box-number">

                        <small>@vm.DayCount</small>
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>
        <a href="/transection/history" class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1">
                    @* <i class="fa-solid fa-briefcase"></i> *@
                    <MudIcon Icon="@Icons.Material.Outlined.History" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Transection Histry</span>
                    <span class="info-box-number">

                        <small>@vm.TotalCount</small>
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    private CounterViewModel vm = new();
    @inject IHttpClientService HttpClientService;
    @inject ISnackbar Snackbar;
    protected override async Task OnInitializedAsync()
    {
        await LoadSales();
        await base.OnInitializedAsync();
    }

    private async Task LoadSales()
    {

        try
        {
            vm = await HttpClientService.GetAsync<CounterViewModel>($"api/sales/get_counter");
        }
        catch (HttpRequestException ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An unexpected error occurred: {ex.Message}", Severity.Error);
        }
        finally
        {
            StateHasChanged();
        }
    }
}
