<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/QuePOS.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/QuePOS.Shared/app.css" />
    <link rel="stylesheet" href="QuePOS.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/QuePOS.Shared/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <!-- ADMIN LTE -->
    <link rel="stylesheet" href="_content/QuePOS.Shared/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="_content/QuePOS.Shared/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="_content/QuePOS.Shared/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- ADMIN LTE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-QLUOr26IlceFk99So8NoeQ9N7x6gIByVXsb5zE+K0WrjMzyhg30LJ5t6MG8ck/" crossorigin="anonymous">
    <script src="_content/BlazorAnimate/blazorAnimateInterop.js"></script>


    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/QuePOS.Shared/plugins/jquery/jquery.min.js"></script>
    <script src="_content/QuePOS.Shared/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="_content/QuePOS.Shared/dist/js/adminlte.min.js"></script>
    <script src="_content/Blazor.QRCode/html5-qrcode.min.js"></script>
    <script src="_content/Blazor.QRCode/qrcode.min.js"></script>
    <script src="_content/Blazor.QRCode/qrcode-init.js"></script>
    <script>
           window.networkStatus = {
            isOnline: () => navigator.onLine,
            registerConnectionEvents: (dotNetHelper) => {
                window.addEventListener("online", () => {
                    dotNetHelper.invokeMethodAsync("UpdateConnectionStatus", true);
                });
                window.addEventListener("offline", () => {
                    dotNetHelper.invokeMethodAsync("UpdateConnectionStatus", false);
                });
            }
        };
        window.downloadFile = async (fileName, streamRef) => {
            const arrayBuffer = await streamRef.arrayBuffer();
            const blob = new Blob([arrayBuffer], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
        };
    </script>
</body>

</html>
